<div th:fragment="navbar" class="navbar-fixed ">
    <nav class="nav light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <a class="brand-logo" href="/" th:href="@{/}">
                <img alt="logo" class="logo" src="/images/logo.png">
            </a>
            <ul class="right hide-on-med-and-down" id="nav-mobile">
                <li><!-- Dropdown Trigger -->
                    <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                        <i class="material-icons">language</i>
                    </a>
                </li>
                <li><a id="login" href="/login" th:href="@{/login}">
                    <i class="material-icons">account_circle</i></a>
                </li>
                <li><!-- Dropdown Trigger -->
                    <a id="profile" class='dropdown-trigger' href='#' data-target='dropdown2' style="display:none;">
                        <i class="material-icons">dehaze</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!" onclick="setLocale('en');return false;">EN</a></li>
        <li><a href="#!" onclick="setLocale('es');return false;">ES</a></li>
    </ul>

    <!-- Dropdown Structure -->
    <ul id='dropdown2' class='dropdown-content'>
        <li>
            <a data-i18n-key="dash-title" id="dash" href="/dashboard" th:href="@{/dashboard}">
                <i class="material-icons prefix">dashboard</i> Dashboard
            </a>
        <li>
            <a data-i18n-key="logout" id="logout" href="/" th:href="@{/}">
                <i class="material-icons prefix">exit_to_app</i> Logout
            </a>
    </ul>
</div>

<footer th:fragment="footer" class="page-footer blue darken-1">
    <div class="container">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col l6 s12">
                <div>
                    <img alt="Footer logo" class="nav-logo" src="/images/footer-logo.gif">
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 lang="en" class="white-text">Contacts</h5>
                <h5 lang="es" class="white-text">Conctactos</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="mailto: abc@example.com">abc@example.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/lublyanka"><i
                            class="fa fa-github"></i></a></li>
                    <li lang="en"><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                    <li lang="es"><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container">
            © 2023 Blue Card Vault Company. All rights reserved.
            <a  lang="en" class="grey-text text-lighten-4 right" href="#!">More Links</a>
            <a  lang="es" class="grey-text text-lighten-4 right" href="#!">Más enlaces</a>
        </div>
    </div>
</footer>