<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col l6 s12">
                <div>
                    <img alt="Footer logo" class="nav-logo" src="images/footer-logo.gif">
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 lang="en" class="white-text">Contacts</h5>
                <h5 lang="es" class="white-text">Conctactos</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="mailto: abc@example.com">abc@example.com</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/lublyanka"><i
                            class="fa fa-github"></i></a></li>
                    <li lang="en"><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                    <li lang="es"><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container">
            © 2023 Blue Card Vault Company. All rights reserved.
            <a  lang="en" class="grey-text text-lighten-4 right" href="#!">More Links</a>
            <a  lang="es" class="grey-text text-lighten-4 right" href="#!">Más enlaces</a>
        </div>
    </div>
</footer>