<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
<!-- CSS and other head tags -->
<link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="/favicon.ico" rel="icon" type="image/x-icon">

<script src="/js/general.js" type="text/javascript" defer></script>
<script src="/js/localize.js" type="text/javascript" defer></script>