<div th:fragment="users_table" class="row users" id="users" style="display:none">
    <div class="col s12">
        <h4><i class="material-icons">people</i><span data-i18n-key="users-title">Users</span></h4>

        <!-- list of users goes here -->
        <table id="usersTable" class="striped" style="display:none">
            <thead>
            <tr>
                <th data-i18n-key="name">Name</th>
                <th data-i18n-key="email">Email</th>
                <th data-i18n-key="role">Role</th>
                <th data-i18n-key="lastlogin">Last login</th>
                <th data-i18n-key="status">Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="payments_table" class="row payments" id="payments">
    <div class="col s12">
        <h4><i class="material-icons">payment</i><span data-i18n-key="payments-title">Payments</span>
            <a data-i18n-key="addPayment" id="addPaymentButton" class="waves-effect waves-light btn modal-trigger right"
               href="#addPayment"><i class="material-icons right">add_box</i>Crear un pago</a></h4>

        <ul id="no-payments">
            <li lang="en">No payments available.</li>
            <li lang="es">No hay pagos disponibles.</li>
        </ul>
        <!-- list of payments goes here -->
        <table id="paymentsTable" class="striped" style="display:none">
            <thead>
            <tr>
                <th id="numberH">
                    <a class="waves-effect waves-teal btn-flat">
                        <span data-i18n-key="number"> Number </span>
                        <i class="material-icons right">arrow_downward</i></a>
                </th>
                <th id="sumH">
                    <a class="waves-effect waves-teal btn-flat">
                        <span data-i18n-key="sum">Sum </span>
                        <i class="material-icons right blue-grey-text text-lighten-4">arrow_downward</i></a>
                </th>
                <th><a class="waves-effect waves-teal btn-flat">
                    <span data-i18n-key="date">Date</span>
                    <i class="material-icons right blue-grey-text text-lighten-4">arrow_downward</i>
                </a>
                </th>
                <th id="descH">
                    <span data-i18n-key="desc">Description</span>
                </th>
                <th id="statusH">
                    <span data-i18n-key="status">Status</span>
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>