<div th:fragment="users_table" class="row users" id="users" style="display:none">
    <div class="col s12">
        <h4><i class="material-icons">people</i><span data-i18n-key="users-title">Users</span></h4>

        <!-- list of users goes here -->
        <table id="usersTable" class="striped" style="display:none">
            <thead>
            <tr>
                <th data-i18n-key="name">Name</th>
                <th data-i18n-key="email">Email</th>
                <th data-i18n-key="role">Role</th>
                <th data-i18n-key="lastlogin">Last login</th>
                <th data-i18n-key="status">Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="accounts_table" class="row accounts" id="accounts">
    <div class="col s12">
        <h4><i class="material-icons">account_balance_wallet</i><span data-i18n-key="accounts-title">Accounts</span>
            <a data-i18n-key="addAccount" id="addAccountButton"
               class="waves-effect waves-light btn modal-trigger right" href="#modal1">
                <i class="material-icons right">add_box</i>Add account</a>
        </h4>

        <ul id="no-accounts">
            <li lang="en">No accounts available.</li>
            <li lang="es">No hay cuentas disponibles.</li>
        </ul>

        <!-- list of accounts goes here -->
        <table id="accountsTable" class="striped" style="display:none">
            <thead>
            <tr>
                <th id="accountNumberT">
                    <a data-i18n-key="number" class="waves-effect waves-teal btn-flat asc"
                       onclick="javascript:sort(this)">
                        Number <i class="material-icons right sort-arrow">arrow_downward</i></a>
                </th>
                <th id="accountNameT"><a data-i18n-key="name" class="waves-effect waves-teal btn-flat"
                                        onclick="javascript:sort(this)">
                    Name <i class="material-icons right sort-arrow blue-grey-text text-lighten-4">arrow_downward</i></a>
                </th>
                <th id="accountCurrentBalanceT"><a data-i18n-key="c-balance" class="waves-effect waves-teal btn-flat"
                                                  onclick="javascript:sort(this)">
                    Current balance <i
                        class="material-icons right sort-arrow blue-grey-text text-lighten-4">arrow_downward</i></a>
                </th>
                <th id="accountStatusT" data-i18n-key="status">Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="payments_table" class="row payments" id="payments">
    <div class="col s12">
        <h4><i class="material-icons">payment</i><span data-i18n-key="payments-title">Payments</span>
            <a data-i18n-key="addPayment" id="addPaymentButton"
               class="waves-effect waves-light btn modal-trigger right" href="#addPayment">
                <i class="material-icons right">add_box</i>Create payment</a></h4>

        <ul id="no-payments">
            <li lang="en">No payments available.</li>
            <li lang="es">No hay pagos disponibles.</li>
        </ul>
        <!-- list of payments goes here -->
        <table id="paymentsTable" class="striped" style="display:none">
            <thead>
            <tr>
                <th id="paymentNumber">
                    <a class="waves-effect waves-teal btn-flat asc" onclick="javascript:sort(this)">
                        <span data-i18n-key="number"> Number </span>
                        <i class="material-icons right sort-arrow">arrow_downward</i></a>
                </th>
                <th id="paymentSum">
                    <a class="waves-effect waves-teal btn-flat" onclick="javascript:sort(this)">
                        <span data-i18n-key="sum">Sum </span>
                        <i class="material-icons right sort-arrow blue-grey-text text-lighten-4">arrow_downward</i></a>
                </th>
                <th id="paymentDate"><a class="waves-effect waves-teal btn-flat" onclick="javascript:sort(this)">
                    <span data-i18n-key="date">Date</span>
                    <i class="material-icons right sort-arrow blue-grey-text text-lighten-4">arrow_downward</i>
                </a>
                </th>
                <th id="paymentDescription">
                    <span data-i18n-key="desc">Description</span>
                </th>
                <th id="paymentStatus">
                    <span data-i18n-key="status">Status</span>
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>