<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>
    <div th:replace="fragments/head.html"> </div>
    <link href="/static/css/500.css" rel="stylesheet" th:href="@{/css/500.css}" type="text/css">
    <script defer src="/js/500.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <section class="centered">
        <h1>500 Server Error</h1>
        <div class="container">
            <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
            <div><span class="hidden" id="js-hidden">Message Here</span></div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer"></div>
</body>
</html>