.logo {
    width: auto;
    height: 4.3rem;
    border-radius: 15px;
    margin: 0 15px;
}
.nav-logo {
    height: 7rem;
    border-radius: 15px;
     margin-top: 16.4px;
}

.main-banner {
    max-width: 100%;
    margin-bottom: -10px;
}

.img-container {
  /*display: inline-block;*/
  position: relative;
}

.img-container button {
    position: absolute;
    top: 72%;
    left: 7%;
}

main {
    min-height: 80vh;
    display: flex;}


.btn-flat{
    padding-left: 0px;}

/*localization*/
[lang] {
    display: none;
}
[lang=en] {
    display: unset;
}

#response-message {
    font-size: 18px;
    text-align: left;
}