<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blue Card Vault</title>
    <div th:replace="~{fragments/head.html}"> </div>
</head>
<body>
<div th:replace="~{fragments/base::navbar}"></div>
<main>
    <div class="img-container">
    <img alt="home_banner" class="responsive-img main-banner" src="images/home_banner.png">
    <button lang="en" class="btn-large waves-effect waves-light" name="action" onclick="window.location.href='/register'" type="submit">
        Sign up
        <i class="material-icons right">chevron_right</i>
    </button>
    <button lang="es" class="btn-large waves-effect waves-light" name="action" onclick="window.location.href='/register'" type="submit">
        Inscribir
        <i class="material-icons right">chevron_right</i>
    </button>
    </div>
</main>
<div th:replace="~{fragments/base::footer}"></div>
</body>
</html>