<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title data-i18n-key="login-title">Login</title>
    <div th:replace="fragments/head.html"> </div>
    <link href="/static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <script src="/js/login.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <div class="container container-log">
        <div class="screen row">
            <div class="screen__content col s3">
                <form class="login" method="post" th:action="@{/api/auth/login}">
                    <div class="input-field">
                        <i class="material-icons prefix">person_outline</i>
                        <label data-i18n-key="email" for="username">Email</label>
                        <input id="username" name="username" type="text">
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock_outline</i>
                        <label data-i18n-key="password" for="password">Password</label>
                        <input  id="password" name="password"
                               type="password">
                    </div>
                    <button lang="en" class="btn-small waves-effect waves-light" name="action" onclick="login()" type="submit">
                        Log In
                        <i class="material-icons right">chevron_right</i>
                    </button>
                    <button lang="es" class="btn-small waves-effect waves-light" name="action" onclick="login()" type="submit">
                        Acceder
                        <i class="material-icons right">chevron_right</i>
                    </button>
                </form>
                <div class="social-login">
                    <b lang="en">LOG IN VIA</b>
                    <b lang="es">ACCEDER POR</b>
                    <div class="social-icons">
                        <a class="social-login__icon fab fa-instagram" href="#"><i class="material-icons prefix">lock_outline</i></a>
                        <a class="social-login__icon fab fa-facebook" href="#"><i class="material-icons prefix">lock_outline</i></a>
                        <a class="social-login__icon fab fa-twitter" href="#"><i class="material-icons prefix">lock_outline</i></a>
                    </div>
                    <button lang="en" class="btn-small waves-effect waves-light" name="action" onclick="window.location.href='/register'" type="submit">
                        Sign up
                        <i class="material-icons right">chevron_right</i>
                    </button>
                    <button lang="es" class="btn-small waves-effect waves-light" name="action" onclick="window.location.href='/register'" type="submit">
                        Inscribir
                        <i class="material-icons right">chevron_right</i>
                    </button>
                    <div id="response-message"></div>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer"></div>
<div th:replace="fragments/button.html"> </div>
</body>


</html>