<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-i18n-key="payments-title">Payments</title>
    <div th:replace="~{fragments/head.html}"></div>

    <script src="/js/payments.js" type="text/javascript" defer></script>
    <script src="/js/loadPayments.js" type="text/javascript"></script>
    <script src="/js/loadAccounts.js" type="text/javascript"></script>
    <script src="/js/pagination.js" type="text/javascript" defer></script>
</head>
<body>
<div th:replace="~{fragments/base::navbar}"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div th:replace="~{fragments/tables::payments_table}"></div>
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/base::footer}"></div>
</body>
<!-- Modal Structure -->
<div th:replace="~{fragments/modals::create_payment_modal}"></div>
</html>