<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- CSS and other head tags -->
    <link href="/static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <script src="/js/profile.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<main>
    <div class="row">
        <div class="col s6 offset-s3">
            <h2>Personal Information</h2>
            <form>
                <div class="input-field col s6">
                    <label for="name">Name:</label>
                    <input class="validate" data-length="255" id="name" name="name" type="text" value="John">
                </div>
                <div class="input-field col s6">
                    <label for="surname">Surname:</label>
                    <input class="validate" data-length="255" id="surname" name="surname" type="text" value="Doe">
                </div>
                <div class="input-field col s6">
                    <label for="surname">Middlename:</label>
                    <input class="validate" data-length="255" id="middlename" name="middlename" type="text" value="">
                </div>
                <div class="input-field col s6">
                    <label for="surname">Role:</label>
                    <input class="validate" data-length="255" disabled id="role" name="role" type="text" value="">
                </div>
                <div class="input-field col s12">
                    <label for="email">Email:</label>
                    <input class="validate" data-length="255" id="email" name="email" type="email"
                           value="johndoe+4@example.com">
                </div>
                <div class="input-field col s12">
                    <label for="phone">Phone:</label>
                    <input class="validate" data-length="20" id="phone" name="phone" type="text" value="125">
                </div>
                <div class="input-field col s6">
                    <label for="country">Country:</label>
                    <input class="validate" id="country" name="country" type="text" value="Spain">
                </div>
                <div class="input-field col s6">
                    <label for="state">State:</label>
                    <input class="validate" id="state" name="state" type="text" value="Malaga">
                </div>
                <div class="input-field col s6">
                    <label for="city">City:</label>
                    <input class="validate" id="city" name="city" type="text" value="Malaga">
                </div>
                <div class="input-field col s6">
                    <label for="code">Postal Code:</label>
                    <input class="validate" id="code" name="code" type="text" value="29010">
                </div>
                <div class="input-field col s12">
                    <label for="address1">Address 1:</label>
                    <input class="validate" id="address1" name="address1" type="text" value="BV Louis Pasteur 17">
                </div>
                <div class="input-field col s12">
                    <label for="address2">Address 2:</label>
                    <input id="address2" name="address2" type="text" value="1 1 1 ">
                </div>
                <div class="input-field col s12">
                    <label for="note">Note:</label>
                    <input id="note" name="note" type="text" value="">
                </div>
                <div class="btn-group">
                    <button class="waves-effect waves-light btn-small" type="submit">Save</button>
                    <button class="waves-effect waves-light btn-small" onclick="window.location.href='/dashboard'"
                            type="button">Cancel
                    </button>
                </div>
            </form>
            <h2>Documents</h2>
            <ul>
                <li>No documents available.</li>
            </ul>
        </div>
    </div>
</main>
<div th:replace="fragments/footer"></div>
</body>
</html>