<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-i18n-key="profile-title">Profile</title>
    <div th:replace="~{fragments/head.html}"></div>
    <script src="/js/profile.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="~{fragments/base::navbar}"></div>
<main>
    <div class="row">
        <div class="col s6 offset-s3">
            <h2 lang="en">Personal Information</h2>
            <h2 lang="es">Información personal</h2>

            <div th:replace="~{fragments/forms::user_profile_form}"></div>

            <div th:replace="~{fragments/forms::user_documents}"></div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/base::footer}"></div>
</body>
</html>